---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Jacob's Portfolio">
  <main>

   <section class="w-full flex flex-col justify-center items-center mx-auto py-44 px-4">
  <div class="max-w-2xl w-full">
    <h1 class="text-white text-4xl font-bold flex items-center gap-x-4">
      Hey! I'm Jacob
      <Badge>Disponible para trabajar</Badge>
    </h1>
    <h2 class="mt-6 text-white text-xl opacity-80">
      Web Developer & Computer Science student. 🇨🇴🇩🇴 Passionate about building unique and creative web applications.
    </h2>
  </div>
</section>

  </main>
</Layout>


